$bio-box-bg-light: #f9f9f9


.image_thumbnail
  border-radius: 0.5rem

// Style pour l'image de profil uniquement sur la page À propos
.about-two-column
  display: flex
  flex-wrap: wrap
  gap: 2rem
  align-items: center
  margin-bottom: 2rem
  margin-top: 2rem

  .profile-pic
    flex: 0 0 160px
    img
      width: 100%
      border-radius: 0.75rem

  .bio-text
    flex: 1

.bio-box
  background-color: $bio-box-bg-light
  padding: 1.5rem
  border-radius: 1rem
  box-shadow: 0 1px 3px rgba(0,0,0,0.05)

html[data-mode="dim"] .bio-box
  background: var(--post-bg)